/* Use different box sizing model so that padding and borders are included
when calculating the final size of the box*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* Allows % based heights in the app */
html,
body,
#map-holder {
  height: 100%;
}

#map-holder {
  display: flex;
  flex-direction: row;
}

#map {
  height: 100%;
  width: 80%;
}
