/* These are the Metro line colors */
:root {
  --blue-line: hsl(203, 100%, 38%);
  --red-line: hsl(359, 95%, 58%);
  --yellow-line: hsl(45, 100%, 61%);
  --green-line: hsl(144, 83%, 37%);
  --orange-line: hsl(29, 100%, 58%);
  --silver-line: hsl(162, 7%, 63%);
}

/* Use different box sizing model so that padding and borders are included
when calculating the final size of the box*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* Allows % based heights in the app */
html,
body {
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

@media (max-width: 600px) {
  #metro-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: fixed;
    top: 10px;
    left: 2%;
    background-color: hsla(240deg, 20%, 90%, 0.85);
    height: 10%;
    width: 96%;
    line-height: 1.5rem;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid hsla(0deg, 0%, 70%, 0.85);
  }
}

#metro-details {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: fixed;
  top: 20px;
  right: 10px;
  background-color: hsla(240deg, 20%, 90%, 0.85);
  height: 90%;
  width: 15%;
  line-height: 1.5rem;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid hsla(0deg, 0%, 70%, 0.85);
}

#metro-details > p:not(:first-of-type),
#metro-details > a {
  padding-top: 20px;
}

.metro-line {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin: 5px;
}

.metro-line-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.metro-line-color {
  width: 2rem;
  height: 2rem;
}

.metro-line-color.blue {
  background-color: var(--blue-line);
}

.metro-line-color.orange {
  background-color: var(--orange-line);
}

.metro-line-color.yellow {
  background-color: var(--yellow-line);
}

.metro-line-color.green {
  background-color: var(--green-line);
}

.metro-line-color.red {
  background-color: var(--red-line);
}

.metro-line-color.silver {
  background-color: var(--silver-line);
}
